<div class="background-portfolio">
  <!-- <img src="assets/portfolioPageCover.jpg" class="img"> -->
  <h3 class="english portfolioh3">Portfolio</h3>
  <ul class="project">
    <li class="projectLi">
      <div class="details">
        <h3 class="neutral">NAVER 웹사이트</h3>
        <div class="preview">
          <img src="assets/naverMockingPreview.JPG" class="img"/>
          <div class="cover"></div>
        </div>
        <dl class="neutral description">
          <dt>사이트의 목적</dt>
          <dd>로그인/회원가입한 유저가 바구니에 넣은 상품(들)을 구입하게 해주는 것</dd>
          <dt>사이트가 이용한 라이버러리/API/프레임워크</dt>
          <dd>
            <ul>
              <li>React</li>
              <li>Redux</li>
              <li>PayPal(넣을 예정) API</li>
              <li>Spring</li>
            </ul>
          </dd>
          <dt>비고</dt>
          <dd>무료 서버에 올려져 있으므로 처음 로딩 또는 장시간 사이트 미상용 시에 로딩하는데 시간이 조금 걸립니다.</dd>
          <dt>제작한 기간</dt>
          <dd>2019년 1월말~2월말</dd>
        </dl>
      </div>
    </li>
    <li class="projectLi">
      <div class="details">
        <h3 class="neutral">Angular 웹사이트</h3>
        <dl class="neutral description">
          <dt>사이트에 대해서</dt>
          <dd>Angular API 웹사이트를 모방한 단순한 웹사이트</dd>
          <dt>사이트가 이용한 라이버러리/API/프레임워크</dt>
          <dd><ul><li>Angular 2+</li></ul></dd>
          <dt>비고</dt>
          <dd>무료 서버에 올려져 있으므로 처음 로딩 또는 장시간 사이트 미상용 시에 로딩하는데 시간이 조금 걸립니다.</dd>
          <dt>제작한 기간</dt>
          <dd>2019년 1월초~1월말</dd>
        </dl>
      </div>
    </li>
  </ul>
</div>