<div [@startingCover]="starting ? 'starting':'default'">
  <!-- Try to make background more illuminating somehow.. -->
  <img #topPageCover  src="assets/topPageCover3.jpg" class="img">
  <!-- brackets come from here: http://xahlee.info/comp/unicode_matching_brackets.html -->
  <div >
  <div #titles class="titles">
    <h1 class="title english" > <span class="brackets">｢</span>D.P.'s Portfolio<span class="brackets">｣</span></h1>
    <h2 class="title korean">—박두표의 포트폴리오—</h2>
    <img class="title arrow" src="assets/arrowBottom.png"/>
    <h3 class="title english">Scroll</h3>
  </div>
</div>
</div>